
// Colors //

$color__salmon: #2496f3;
$color__darker_salmon: #DA564A;
$color__faint:          #f0f2f1;
$color__gray:           #525252;
$color__light_gray:     #aeaeae;
$color__lighter_gray:   #dee0df;
$color__teal:           #27b4a8;

// Fonts //

$font_headline:         "Whitney A", "Whitney B", sans-serif;
$font:                  "Whitney SSm A", "Whitney SSm B", sans-serif;
$font_alt:              'Miriam Libre', sans-serif;
$font_code:             'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', monospace;
